<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>contact us</title>
  <link rel="stylesheet" href="../static/contact.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@600;900&family=Orbitron&family=Poppins&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="contactt">
    <div class="navbar">
      <div class="navbar-left">
        <div>
          <img class="profilepic" src="images/codecoderpp.png" alt="Italian Trulli">
        </div>
        <div class="codecode"><a href="index.html">Co-decoder</a></div>
      </div>
      <div class="navbar-right">
        <a class="home" href="index.html">Home</a>
        <a class="about" href="about.html">About Us</a>
        <a class="contact" href="contact.html">Contact Us</a>
        <a class="more" href="#">More Features </a>
      </div>
    </div>

    <div class=" contact">
      <div class="container text-center ">
        <h1 class="primary">CONTACT US</h1>
        <p class="my-3 secondary text-light ">Any question or remark? Just write us a message!</p>
      </div>
      <div class="container my-5 sec11">

        <div class="contact">
          <img src="images/contact.png" alt="">
        </div>

        <div class="container mx-5">
          <div class="container roww my-5">
            <div class="container ">
              <h5 class="text-light">First Name</h5>
              <input class="inp" cols="120" type="text">
            </div>
            <div class="container">
              <h5 class="text-light">Last Name</h5>
              <input class="inp" cols="120" type="text">
            </div>
          </div>
          <div class="container roww my-5">
            <div class="container">
              <h5 class="text-light" cols="120">Email</h5>
              <input class="inp" type="email">
            </div>
            <div class="container">
              <h5 class="text-light" cols="120">Phone Number</h5>
              <input class="inp" type="text">
            </div>
          </div>

          <div class="container my-5">
            <div class="container my-5">
              <h5 class="text-light my-3">Select Subject</h5>
              <input class="text-light inp" type="radio" id="javascript" name="fav_language" value="JavaScript">
              <label class="text-light mx-3" for="javascript">Genral Enquiry</label>
              <input class="text-light inp " type="radio" id="javascript" name="fav_language" value="JavaScript">
              <label class="text-light mx-3" for="javascript">Tech Enquiry</label>
              <input class="text-light inp " type="radio" id="javascript" name="fav_language" value="JavaScript">
              <label class="text-light mx-3" for="javascript">Working Enquiry</label>
              <input class="text-light inp " type="radio" id="javascript" name="fav_language" value="JavaScript">
              <label class="text-light mx-3" for="javascript">other Enquiry</label>
            </div>

          </div>
          <div class="container">
            <div class="container">
              <h5 class="text-light">Message</h5>
              <textarea class="inp" name="message" id="" cols="82" rows=""></textarea>
            </div>

            <div class="container btn1">
              <button class="my-5 btnn">
                <h6>Send Message</h6>
              </button>
            </div>
          </div>


        </div>


      </div>
      <hr style="height:1px;border-width:0;color:#00FF94;background-color:#00FF94">
      <footer class="footer">
        <div class="footer-row">
          <div class="footer-column">
            <div class="footer-subcolumn">
              <div class="codecodedown">
                <div>
                  <img src="images/codecoderpp.png" alt="Italian Trulli">
                </div>
                <p class="codecode codecodedown"><a href="index.html">Co-decoder</a></p>

              </div>
              <p class="made">Made by Team Co-Decoder</p>
            </div>

          </div>
          <div class="about-us">

            <ul>
              <li>About Us</li>
              <li>Contact Us</li>
              <li>FAQ</li>
              <li>Privacy Policy</li>
              <li>Terms of Service</li>
            </ul>
          </div>
          <div class="footer-column">
            <div class="contact-us">
              <h3>Contact</h3>

            </div>
            <div class="social-icons">

              <i class="fa fa-linkedin-square" style="font-size:40px; margin-right: 10px;"></i>
              <i class="fa fa-twitter-square" style="font-size:40px;margin-right: 10px;"></i>
              <i class="fa fa-instagram" style="font-size:40px;margin-right: 10px;"></i>
              <i class="fa fa-facebook-square" style="font-size:40px;margin-right: 10px;"></i>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
</body>

</html>