<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@600;900&family=Orbitron&family=Poppins&display=swap"
    rel="stylesheet">



  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PAGE3</title>
  <link rel="stylesheet" type="text/css" href="../static/styles.css" />
</head>

<body class="body">
  <img src="images\ellipse.png" alt="Your Image Description"
    style="height: 800px;width: 800px; position: absolute; left: -400px;  top: 600px;">


  <div class="navbar">
    <div class="navbar-left">
      <div>
        <img src="images\codecoderpp.png" alt="Italian Trulli">
      </div>
      <div class="codecode"><a href="index.html">Co-decoder</a></div>
    </div>
    <div class="navbar-right">
      <a class="home" href="index.html">Home</a>
      <a class="about" href="about.html">About Us</a>
      <a class="contact" href="contact.html">Contact Us</a>
      <a class="more" href="#">More Features </a>
    </div>
  </div>

  <div class="p2section1">
    <div>
      <h3 class="p2transform">Input Code through <span class="code">Text</span>
      </h3>
    </div>
    <div class="upload">
      <pre>
  Upload an image of code and let our AI do the rest..
</pre>
    </div>

  </div>

  <div class="codebox">
    <div class="codebox1">
      <div class="codebox2">
        <div>
          <h2>Code</h2>
        </div>
        <div class="rectbox">
          <textarea class="code-input" id="codeInput" placeholder="Enter your code here..."></textarea>
        </div>
      </div>
      <div class="codebox2">

        <div>
          <h2>Explaination</h2>
        </div>
        <div class="rectbox">
          <textarea class="code-input" id="codeInput" placeholder="Explanation will be displayed here"></textarea>

        </div>

      </div>


    </div>

    <div>
      <button class="explainbut">Explain Code</button>
      <button type="button" class="clear-button" id="clearButton">Clear</button>
      <div class="loading-indicator" id="loadingIndicator">Loading...</div>

    </div>

  </div>
  <div class="tcbutton">
    <button class="tcbutton1"><a href="index2.html"> Image Code Explainer</a>

    </button>
  </div>

  <hr style="height:1px;border-width:0;color:#00FF94;background-color:#00FF94">

  <footer class="footer">
    <div class="footer-row">
      <div class="footer-column">
        <div class="footer-subcolumn">
          <div class="codecodedown">
            <div>
              <img src="images\codecoderpp.png" alt="Italian Trulli">
            </div>
            <p class="codecode"><a href="index.html">Co-decoder</a></p>
          </div>
          <p class="made">Made by Team Co-Decoder</p>
        </div>

      </div>
      <div class="about-us">
        <ul>
          <li>About Us</li>
          <li>Contact Us</li>
          <li>FAQ</li>
          <li>Privacy Policy</li>
          <li>Terms of Service</li>
        </ul>
      </div>
      <div class="footer-column">
        <div class="contact-us">
          <h3>Contact</h3>

        </div>
        <div class="social-icons">

          <i class="fa fa-linkedin-square" style="font-size:40px; margin-right: 10px;"></i>
          <i class="fa fa-twitter-square" style="font-size:40px;margin-right: 10px;"></i>
          <i class="fa fa-instagram" style="font-size:40px;margin-right: 10px;"></i>
          <i class="fa fa-facebook-square" style="font-size:40px;margin-right: 10px;"></i>
        </div>
      </div>
    </div>
  </footer>



</body>

</html>
