<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@600;900&family=Orbitron&family=Poppins&display=swap"
    rel="stylesheet">




  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PAGE1</title>
  <link rel="stylesheet" type="text/css" href="../static/styles.css" />
  <link rel="stylesheet" type="text/css" href="media.css" />
</head>

<body class="body">
  <img src="images\ellipse.png" alt="Your Image Description"
    style="height: 800px;width: 1000px; position: absolute; left: -550px;  top: 500px;">
  <!-- <img src="images\ellipse.png" alt="Your Image Description" style="height: 800px;width: 700px; position: absolute; right: -350px;  top: 1000px;"> -->

  <div class="navbar">
    <div class="navbar-left">
      <div>
        <img class="profilepic" src="images\codecoderpp.png" alt="Italian Trulli">
      </div>
      <div class="codecode"><a href="index.html">Co-decoder</a></div>
    </div>
    <div class="navbar-right">
      <a class="home" href="index.html">Home</a>
      <a class="about" href="about.html">About Us</a>
      <a class="contact" href="contact.html">Contact Us</a>
      <a class="more" href="#">More Features </a>
    </div>
  </div>

  <div class="section1">
    <div class="transform">
      <pre>Transform the way 
you <span class="code">CODE</span> & Understanding it
</pre>
    </div>
    <div class="unlock">
      <pre>
    Unlock the Power of AI-Powered Code Explanation and 
    Simplify Programming in any language.
</pre>
    </div>
    <div class="get-button">
      <button><a href="index2.html">Get Started</a></button>
    </div>
  </div>

  <div class="division2">
    <div class="image1">
      <img src="images\boxviolet.png" alt="Italian Trulli">

    </div>


    <div class="section2">

      <div class="transform1">
        <span class="code1">What is</span> Co-decoder
      </div>
      <div class="unlock1">
        <h5>
          website that can take pictures of code and explain it in simple terms.
          It also helps you write descriptions for your own code.
          This is useful for both beginners and experienced coders.
          Give it a try to make coding easier to understand and explain!
        </h5>



      </div>

      <div class="button2">
        <button><a href="index3.html">Get Started</a></button>

      </div>
    </div>


  </div>

  <!-- <---------------------------------------------------------------------------> -->
  <div class="division3">
    <div>
      <h3 class="feature">Features</h3>

    </div>

    <div>

      <h4 class="ready">Ready to transform the way you code with</h4>
    </div>
    <div>
      <h4 class="co">Co-Decoder</h4>

    </div>
  </div>


  <!-- <---------------------------------------------------------------------------> -->





  <div class="division4">
    <div class="box1">

      <div class="division-section">
        <div class="square-image">
          <img src="images\card1.png" alt="Square Image">
          <div class="overlay-content">
            <img src="images\ladycode.png" alt="Inner Image">
            <h4>Input Code through Image</h4>
            <pre>Upload an image of code and 
let our AI do the rest.</pre>
            <div>
              <button class="try"><a href="index2.html">Try Now</a></button>
              <button class="exp"> <a href="index2.html">Explore Now</a></button>
            </div>

          </div>
        </div>
      </div>
    </div>




    <div>
      <div class="box1">

        <div class="division-section">
          <div class="square-image">
            <img src="images\card1.png" alt="Square Image">
            <div class="overlay-content">
              <img src="images\handcode.png" alt="Inner Image">
              <h4>Input Code through Text</h4>
              <pre> Type in your code and let 
  our AI do the rest</pre>
              <div>
                <button class="try"><a href="index3.html">Try Now</a></button>
                <button class="exp"> <a href="index3.html">Explore Now</a></button>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <hr style="height:1px;border-width:0;color:#00FF94;background-color:#00FF94">





  <!-- footer -->


  <footer class="footer">
    <div class="footer-row">
      <div class="footer-column">
        <div class="footer-subcolumn">
          <div class="codecodedown">
            <div>
              <img src="images\codecoderpp.png" alt="Italian Trulli">
            </div>
            <p class="codecode codecodedown"><a href="index.html">Co-decoder</a></p>

          </div>
          <p class="made">Made by Team Co-Decoder</p>
        </div>

      </div>
      <div class="about-us">

        <ul>
          <li>About Us</li>
          <li>Contact Us</li>
          <li>FAQ</li>
          <li>Privacy Policy</li>
          <li>Terms of Service</li>
        </ul>
      </div>
      <div class="footer-column">
        <div class="contact-us">
          <h3>Contact</h3>

        </div>
        <div class="social-icons">

          <i class="fa fa-linkedin-square" style="font-size:40px; margin-right: 10px;"></i>
          <i class="fa fa-twitter-square" style="font-size:40px;margin-right: 10px;"></i>
          <i class="fa fa-instagram" style="font-size:40px;margin-right: 10px;"></i>
          <i class="fa fa-facebook-square" style="font-size:40px;margin-right: 10px;"></i>
        </div>
      </div>
    </div>
  </footer>







</body>

</html>